h3{color:blue;
}



a {text-decoration:none;
color:red;

}


li {text-decoration:none; 
	display:inline flex;

}


ul li {text-decoration:none; 
	justify-content:space-end;
	margin-left:200px;
	gap:10px 10px;
 }
 
 
body{
	background-image:url("cakeeeeee.avif");
}